name: Lint Dockerfile
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  validate-dockerfile:
    name: Validate Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Check Dockerfile for errors
        uses: docker/build-push-action@v6
        with:
          file: .devcontainer/Dockerfile
          call: check
  lint-dockerfile:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    needs: validate-dockerfile
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Check Dockerfile for errors
        uses: hadolint/hadolint-action@master
        with:
          dockerfile: .devcontainer/Dockerfile
          config: .hadolint.yaml
