name: Publish devcontainer on docker hub
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  publish-devcontainer:
    name: Publish devcontainer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Install docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract repository name
        run: echo "REPO_NAME=$(basename ${{ github.repository }})" >> ${GITHUB_ENV}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .devcontainer
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.REPO_NAME }}:latest
